* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  padding: 0 20px 30px 0;
  background-color: antiquewhite;
  text-align: center;

}
.flex-main {
  display: flex;
  flex-wrap: wrap;
  line-height: 2;
  /* flex-direction: row-reverse; */
  width: 100%;
  height: 50rem;
  /* align-content: stretch; */
  border: 1rem solid chartreuse;
}
/* .flex-cont {
  display: flex;
  flex-wrap: wrap;
  line-height: 2;
  flex-direction: row-reverse;
  align-content: center;
} */
.flex-div1,
.flex-div2,
.flex-div3,
.flex-div4,
.flex-div5 {
  width: 5rem;
  height: 5rem;
}
.flex-div1 {
  background-color: yellow;
  border: 0.5rem solid green;
  border-radius: 1rem;
  text-align: center;
  color: darkgray;
  font-size: larger;
  font-weight: bolder;
}
.flex-div2 {
  background-color: chartreuse;
  border: 0.5rem solid blue;
  border-radius: 1rem;
  text-align: center;
  color: blueviolet;
  font-size: larger;
  font-weight: bolder;
}
.flex-div3 {
  background-color: red;
  border: 0.5rem solid purple;
  border-radius: 1rem;
  text-align: center;
  color: whitesmoke;
  font-size: larger;
  font-weight: bolder;
  align-self: flex-end;
}
.flex-div4 {
  background-color: navy;
  border: 0.5rem solid cyan;
  border-radius: 1rem;
  text-align: center;
  color: crimson;
  font-size: larger;
  font-weight: bolder;
}
.flex-div5 {
  background-color: deeppink;
  border: 0.5rem solid seagreen;
  border-radius: 1rem;
  color: aquamarine;
  font-size: larger;
  font-weight: bolder;
  /* order: 1; */
  /* flex-basis: 10rem; */
  flex-grow: 3;
}
