* {
  padding: 0;
  margin: 0;
}
.b {
  width: 100%;
  height: 90rem;
  background-color: aquamarine;
}
.m1,
.m2,
.m3,
.m4,
.m5 {
  width: 100%;
  height: 11rem;
}
.m1 {
  background-color: deeppink;
  animation-name: m1a;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 5s;
  animation-direction: alternate;
  border-radius: 1rem;
}
.m2 {
  background-color: darkgreen;
  animation-name: m2a;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 4s;
  animation-direction: alternate-reverse;
  border-radius: 2rem;
}
.m3 {
  background-color: darkblue;
  animation-name: m3a;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 3s;
  animation-direction: reverse;
  /* border-radius: 10px; */
  border-radius: 3rem;
}
.m4 {
  background-color: darkslategrey;
  animation-name: m4a;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-direction: alternate-reverse;
  border-radius: 4rem;
}
.m5 {
  background-color: darkslateblue;
  animation-name: m5a;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-direction: alternate;
  border-radius: 5rem;
}
@keyframes m1a {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes m2a {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes m3a {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes m4a {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes m5a {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.m11,
.m22,
.m33,
.m44,
.m55 {
  width: 100%;
  height: 8.8rem;
}
.m11 {
  background-color: deeppink;
  animation-name: m1a1;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 5s;
  animation-direction: reverse;
  border-radius: 1rem;
}
.m22 {
  background-color: darkgreen;
  animation-name: m2a2;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 4s;
  animation-direction: reverse;
  border-radius: 2rem;
}
.m33 {
  background-color: darkblue;
  animation-name: m3a3;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 3s;
  animation-direction: alternate;
  /* border-radius: 10px; */
  border-radius: 3rem;
}
.m44 {
  background-color: darkslategrey;
  animation-name: m4a4;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-direction: alternate-reverse;
  border-radius: 4rem;
}
.m55 {
  background-color: darkslateblue;
  animation-name: m5a5;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-direction: normal;
  border-radius: 5rem;
}
@keyframes m1a1 {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes m2a2 {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes m3a3 {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes m4a4 {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes m5a5 {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
